/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-size: .75em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.5em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    color: #000;
}

h1 {
    font-size: 1.3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5, h6 {
    font-size: .86em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    font-size: .6em;
    margin: 0 0 30px 0;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;

}

ul#menu a {
  display: block;
  text-decoration: none;	
}

ul#menu li {
  margin-top: 1px;
  
}

ul#menu li a {
  
  color: #fff;	
  padding: 0.5em;
  
}

ul#menu li a:hover {
  
}

ul#menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul#menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: .85em;
    color: #444;
    width: 100px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: .85em;
    color: #444;
}

input[type="submit"] 
{
    font-size: .85em;
    padding: 0px;
}

/* TABLE
----------------------------------------------------------*/

table 
{
	border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td 
{
	padding: 0px;
    border: solid 1px #e8eef4;
}


table th 
{
	padding: 0px 0px;
    text-align: left;
    background-color: #eeeee4;
    border: solid 2px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear 
{
    clear: both;
   	line-height:0;
	font-size:0;
}

.error 
{
	color: Red;
}

nav, 
#menucontainer 
{
    margin-top: 40px;
}

div#title
 {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
 {
    font-size: 1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
 {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
 {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
 {
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error 
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors 
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid 
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label 
{
    margin: 1em 0 0 0;
    font-size:11px;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


.creatAcount{
height:72px;
width:180px;
background:url(../../content/images/crtAccount.png); background-repeat:repeat;
margin:3px 3px 0 3px;
}


.welcomeText{
font-family:Calibri;
font-size:18px;
font-weight:bold;
padding:9px 0 0 0;
text-decoration:none;
float:left
}

#innerTop{
	width:979px;
	height:133px;
}

.innerTop1{
	width:980px;
	height:142px;
	background-image:url(../../content/images/topHeader.png); background-repeat:no-repeat;
}

#innerFooter{
	padding: 0;
	margin: 0;
	width:979px;
	height:51px;
	background-image:url(../../content/images/innerFooter.png); background-repeat:no-repeat;
}

#innerCenter{
	width:980px;
	background-image:url(../../content/images/innerCenter.jpg); background-repeat:repeat;
}

#wrapper {
	width:100%;
	margin:0 auto;
	position:relative;
	
}

#wrapper1 {
	width:100%;
	margin:0 auto;
	
}

#Innerwrapper {
	width:980px;
	margin:0 auto;
}

#footerwrapper {
	width:100%;
	margin:0 auto;
	padding: 0;
}



.colpad 
{
	padding: 0px;
    border-color:transparent;
	font-size: 11px;
	font-weight:bold;
	}
	
	
#description 
{
	width:200px;
	
}
	
#SearchDesc
{
width:200px;

} 

.crtText{
font-family:Verdana;
font-size:12px;
font-weight:bold;
color:White;
text-decoration:none;
}

.crtText:hover{
font-family:Verdana;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.setupImgBg
{
background-image:url(../../content/images/btn_setup.jpg); background-repeat: no-repeat;
}

.reportImgBg
{
background-image:url(../../content/images/btn_rpt.jpg); background-repeat: no-repeat;
}

.voucherImgBg
{
background-image:url(../../content/images/btn_voucher.jpg); background-repeat: no-repeat;
}
