/* CSS Document */

* {
	padding:0;
	margin:0;
}
body {

}
.clear {
	clear:both;
	line-height:0;
	font-size:0;
}

#wrapper {
	width:955px;
	margin:0 auto;
	position:relative;
	
}

#Innerwrapper {
	width:955px;
	margin:0 auto;
	position:relative;
}


.bgImage{
background:url(../images/login_bg.jpg) top left no-repeat;
width:920px;
height:603px;
}

.bgTextField{
background:url(../images/bgTextField.png) top left no-repeat;
width:473px;
height:223px;
}

.bgTextField{
background:url(../images/bgTextField.png) top left no-repeat;
width:473px;
height:223px;
}

.loginHeading {
	font-family:Calibri;
	font-size:24px;
	font-weight:normal;
	color:#2f1d1d;
	padding:2px 0 0 25px;
}

.loginText {
	font-family:verdana;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding:21px 0 0 30px;
}
.passwordText {
	font-family:verdana;
	font-size:14px;
	font-weight:normal;
	color:#000000;
	padding:30px 0 0 30px;
}

.TextField{
background:url(../images/textField.jpg) top left no-repeat;
width:297px;
height:41px;
margin:6px 0 0 0;
}


.forgetext {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	margin-left:15px;
	text-decoration:underline;
}

.forgetext:hover {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	margin-left:15px;
	text-decoration:none;
}


.clsLgnTxBx
{
border-right: steelblue 0px solid;
border-top: steelblue 0px solid;
border-left: steelblue 0px solid;
border-bottom: steelblue 0px solid;

   font-size: 12px;
   color: #000000;
   background-color: #eff2f3;
   padding: 2px;
   height: 24px;
   width: 210px;
}
.ucMsgLogin
{
    color: Red;
    margin-left:90px;
}


.watermarked
{
    border-right: steelblue 0px solid;
border-top: steelblue 0px solid;
border-left: steelblue 0px solid;
border-bottom: steelblue 0px solid;

   font-size: 12px;
   color: #6c74ad;
   
   background-color: #eff2f3;
   padding: 2px;
   height: 24px;
   width: 210px;
}