/* CSS Document */

@import url('font.css');

* {
	padding:0;
	margin:0;
}
body {
	background:url(../images/bg.jpg) repeat;
}
.form1
{
    
	background-color:#edf4f5;
}
.clear {
	clear:both;
	line-height:0;
	font-size:0;
}

#wrapper {
	width:100%;
	margin:0 auto;
}

#wrapper1 {
	width:100%;
	margin:0 auto;
	
}

#Innerwrapper {
	width:980px;
	margin:0 auto;
}

#footerwrapper {
	width:100%;
	margin:0 auto;
	padding: 0;
}


/* Header */
.header{
	width:980px;
	height:70px;
}

.TopMenu{
font-family:"Lato",Arial;
font-size:11px;
color:#000000;
height:24px;
margin-top:3px;
text-decoration:none;
}


.links01{
font-family:"Lato",Arial;
font-weight:bold;
font-size:11px;
color:#000000;
height:24px;
margin-top:5px;
margin-left:3px;
text-decoration:underline;
}

.links01:hover{
font-family:"Lato",Arial;
font-weight:bold;
font-size:11px;
color:#7275d0;
height:24px;
margin-top:5px;
margin-left:3px;
text-decoration:none;
}

#TopLinks{
	width:980px;
}

#innerTop{
	width:980px;
	margin-bottom:-8px;
}

.innerTop1{
	width:980px;
	height:35px;
	background-color:#336699;
	}



.innerFooter{
	padding: 0;
	margin: 0;
	width:980px;
	height:30px;
	background-color:#336699;
}

#innerFooter1{
	padding: 0;
	margin: 0;
	width:980px;
	height:38px;
	background-image:url(../images/loginfooterimg.jpg); background-repeat:no-repeat;
}

#innerCenter{
	width:980px;
	background-image:url(../images/innerCenter.jpg); background-repeat:repeat;
}

.creatAcount{
height:72px;
width:180px;
background:url(../images/crtAccount.png); background-repeat:repeat;
margin:3px 3px 0 3px;
}

.welcomeText{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#3C008F;
text-decoration:none;
padding-left:5px;
padding-top:3px;
width:300px;
}

.crtText{
font-family:"Lato",Arial;
font-size:12px;
font-weight:bold;
color:#ffffff;
text-decoration:none;
}

.crtText:hover{
font-family:"Lato",Arial;
font-size:12px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.mainHeading
{
padding-left:10px;
font-family: "Lato", Arial;
font-size:21px;
font-weight:normal;
float:left;
color:#3C008F;
text-decoration:none;
}
.mainHeader{
font-family:"Lato",Arial;
font-size:40px;
font-weight:lighter;
color:#3C008F;
text-decoration:none;
width:auto; position:absolute; top: 5px;
}

.footerlinks{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
float:left;
color:#d2d2d2;
text-decoration:none;
}

.footerlinks:hover{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
float:left;
color:#000000;
text-decoration:none;
}

.sept{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
float:left;
color:#d2d2d2;
}

.links1{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
color:#d2d2d2;
text-decoration:underline;
}

.links1:hover{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
color:#000000;
text-decoration:none;
}


.bodyText{
font-family:"Lato",Arial;
font-size:12px;
font-weight:normal;
float:left;
color:#000000;
text-decoration:none;
}



.logout{
font-family:"Lato",Arial;
font-size:11px;
color:#000000;
height:24px;
margin-top:92px;
text-decoration:none;
float:right;
}

.logoutHome{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#336699;
float:right;
padding-top:5px;
padding-right: 30px;
padding-left: 5px;
text-decoration:none;
}
.passwordHome
{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#336699;
float:right;
padding-top:5px;
padding-right: 5px;
padding-left: 5px;
text-decoration:none;
}
.logoutHome:hover{
font-family:"Lato",Arial;
font-size:13px;
color:#3C008F;
text-decoration:underline;
float:right;
}
.passwordHome:hover{
font-family:"Lato",Arial;
font-size:13px;
color:#3C008F;
text-decoration:underline;
float:right;
}

.logoutHomeSeparator{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#3C008F;
float:right;
padding:5px 0px;
text-decoration:none;
}

.boxes
{
font-family:"Lato",Arial;
font-size:18px;
font-weight:lighter;
text-align:center;
line-height:120px;
float:left;
width:200px;
height:120px;
color:#FFFFFF;
background:#336699;
text-decoration:none;

}


.innerTop2{
	width:980px;
	height:150px;
	background-image:url(../images/TopImg.jpg); background-repeat:no-repeat;
}


/*****************************************************************************************/


.logoutText{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#3C008F;
text-decoration:none;
}

.logoutText:hover{
font-family:"Lato",Arial;
font-size:13px;
font-weight:bold;
color:#336699;
text-decoration:none;
}


.accordion {  
    width: 185px;  
}  
          
.accordionHeader {  
}  
  
.accordionHeaderSelected {  
}  
 
 .accordionContent {  
    
} 
.accordionContentRow {  
    background: url(../images/btn_bg.jpg);
    background-repeat:no-repeat;
    text-indent:30px;
    height:29px;
    width:185px;
}

.menuLinks{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
float:left;
color:#000000;
text-decoration:none;

}

.menuLinks:hover{
font-family:"Lato",Arial;
font-size:11px;
font-weight:normal;
float:left;
color:#e4940b;
color:#ffffff;
text-decoration:none;


}


.grid_hdr
{
    font-family:"Lato",Arial;
     color:#ffffff;
    font-size:11px;
    font-weight:bold;
    background-color: #3F5B77;
    background-color: #fad2c7; 
    background-color: #6c74ad; 
    height:23px;
    text-align:center;
    border-color:#000000;
}

.grid_row
{
    font-family:"Lato",Arial;
    font-size:11px;
    background-color: #e2e4e6; 
    height:19px; 
      
}
.gridAlternateRow
{
    font-family:"Lato",Arial;
	font-size:11px;
    
    height:19px;
}
.gridSelectedRow
{
   font-family:"Lato",Arial;
	font-size:11px;
    background-color: #ffffcc; 
    height:19px;
}

table.filterTable
{
    height:30px;
	font-family:"Lato",Arial;
	font-weight: normal;
	font-size: 10px;
	color: black;
	background-color: #e2e4e6;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	padding-left: 2px;
	margin-bottom:3px;
}

.lnk
{
	color: #000;
    font-family:"Lato",Arial;
    font-size:9px;
}
A.lnk:link
{
	color: #000;
}
A.lnk:visited
{
	color: #000;
}
A.lnk:hover
{
	color: #AAAAAA;
}

.ErrorSummary
{
	font-size:12px;
	color:Red;
}

.info
{
	font-size:12px;
	color:Green;
}
.error
{
	font-size:12px;
	color:Red;
}
.Field
{
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
}
.RequiredField
{
	background-color:#F2F2F2;
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
}
.RequiredFieldDate
{
    width:74px;
	background-color:#F2F2F2;
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
}
.RequiredFieldTxtSmall
{
    width:74px;
	background-color:#F2F2F2;
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
}
.RequiredFieldDropDown
{
    background-color:#F2F2F2;
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
	
}
.TxtNormal
{
    
}
.TxtSmall
{
    width:74px;
}
.TxtDate
{
    width:74px;
}


/* stats1 table */

table.stats1 
{
/*text-align: center;*/
font-family:"Lato",Arial;
font-weight: normal;
font-size: 11px;
/*color: #f2f6e9;*/
/*width: 500px;*/
/*background-color: #ffffff;*/
border: 0px;
border-collapse: collapse;
border-spacing: 0px;
padding-left: 20px;

}
table.stats1 td 
{
/*background-color: #ffffff;*/
color: #000000;
/*text-align: left;*/
/*border: 1px #97c2e6 solid;*/
padding: 1px 1px;
}
table.stats1 td.heding
{
/*background-color: #ffffff;*/
color: #000000;
/*text-align: left;*/
/*border-bottom: 1px #eaeaea solid;*/
} 

table.stats1 td.topheding
{
/*background-color: #ffffff;*/
color: #000000;
/*text-align: left;*/
font-size: 11px;
/*font-weight: bold;*/
} 
table.stats1 td.cell
{
/*background-color: #ffffff;*/
color: #000000;
/*text-align: left;*/
}

.bg_input_area
{
/*	background-image:url(../images/bg_input_area.jpg);
	background-repeat:repeat;
	height:25px;*/
}



.LblBgSetup
{
	background-color:#e2e4e6;
}
.LogoImg
{
	position:absolute; 
	left: 70px; 
	top: 7px;
}
.DteLtrl
{
	font-family:"Lato",Arial;
	font-size:9px;
	color:Gray;
	/*font-style:italic;*/
}

.grid_hdr_privilage
{
    font-family:"Lato",Arial;
     color:NAVY;
    font-size:11px;
    font-weight:bold;
    /*background-color: #3F5B77;*/
    /*background-color: #fad2c7; */
    background-color: #C8BFE7;
    /*color:White; */
    height:23px;
}

.fieldSet
{
	border-style:solid;
	border-width:thin;
	padding:10px;

}


.ModalPopupBG
{
    background-color: #666699;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.ChangePwdPopup
{
    min-width:200px;
    min-height:150px;
    background:#f5eecd;
    /*background:#faf7e4;*/
    
}
.PopupBody
{
  font-family:"Lato",Arial;
  font-size:12px;
  color:Black;
}


.txtRemz
{
	max-height:30px;
	max-width:182px;
	min-height:30px;
	min-width:182px;
}


.CompletionListCssClass
{
    font-size: 13px;
    color: #000;
    padding: 1px 1px;
    border: 1px solid #999;
    background: #fff;
    width: 250px;
    float: left;
    z-index: 1;
    position:absolute;
    margin-left:0px;
}

.RequiredFieldDropDownVendor
{
    background-color:#F2F2F2;
	border-style:solid;
	border-width:thin;
	border-color:ActiveBorder;
	width:300px;
}

.ApproveLink
{
	color: #000000;
    font-family:"Lato",Arial;
    font-size:11px;
    text-decoration:underline;
}
A.ApproveLink:link
{
	color: #000000;
	text-decoration:underline;
}
A.ApproveLink:visited
{
	color: #000000;
	text-decoration:underline;
}
A.ApproveLink:hover
{
	color: red;
	text-decoration:none;
}
.ListSearchExtenderPrompt
{
background-color: White;
font-size:14px;
color: Black;
font-style:italic;
font-family:"Lato",Arial;
}

.DisplayNone
{
	display:none;
}



.modalBackground
{
    background-color:Gray;
    filter:alpha(opacity=50);
    opacity:0.7;
}
.pnlBackGround
{
	position:absolute;
	font-family:"Lato",Arial;
	font-size:12px;
    top:10%;
    left:10px;
    width:280px;
    height:auto;
    text-align:left;
    background-color:WhiteSmoke;
    border:solid 1px black;
}
.model_popup_panel_hdr
{
	font-family:"Lato",Arial;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    background-color: #3F5B77;
    background-color: #fad2c7; 
    background-color: #6c74ad; 
    height:25px;
    text-align:left;
    vertical-align:middle;
    border-color:#000000;
}

.HeaderBar
{
	font-family:"Lato",Arial;
	color:Black;
	font-weight:bolder;
	font-size:11px;
	background-color:Gainsboro;
	height:14px;
	text-align:left;
	vertical-align:middle;	
}

.progressBackgroundFilter {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:Gray;
    filter:alpha(opacity=50);
    opacity:0.7;
    z-index:1000;
}
.processMessage {
    position:fixed;
    top:30%;
    left:43%;
    padding:10px;
    width:14%;
    z-index:1001;
    background-color:#fff;
    border:solid 1px #000;
}

/*Grid With Template Fields***********************************************************/
.t_grd
{
    float:left;
	background-color:White; 
	border-color:#6c74ad; 
	border-style:Solid; 
	border-width:1px; 
	padding:3px;
	margin:2px;
	width:100%;
}
.t_grd_hdr
{
	background-color:#6c74ad;
	font-weight:bold;
	color:White; 
	text-align:left;
}
.t_grd_footer
{

}
.t_grd_Row
{

}
.t_grd_Edit_Row
{

}
.t_grd_Selected_Row
{

}
.t_grd_Alter_Row
{
	
}
.t_grd_Pager
{
}
/*End Of Grid With Template Fields******************************************************/
/*Template Field Table******************************************************************/
.validateGridView
{
    background-color:White;
    float: left;
    font-family:"Lato",Arial;
    color: #FF5B5B;
    font-size:8px;
}
table td
{
	padding: 2px;
	vertical-align:top;
}
table.center {
    width:98%;
    margin-left:5%;
    margin-right:5%;
  }
.hideGridColumn
{
    display:none;
}
.table td label{
    float: left;
    width:146px;
    margin-bottom:5px;
    margin-top:5px;
    font-family:"Lato",Arial;
    font-size:14px;
    color: Black;
    line-height: 17px;
    text-align: right;
}

.table td labelmid{
    float: left;
    width:205px;
    margin-bottom:5px;
    margin-top:5px;
    text-align: right;
}
.table td labelwide{
    float: left;
    width:230px;
    margin-bottom:5px;
    margin-top:5px;
    text-align: right;
}
.table td.control{
    width:310px;
    margin-bottom:5px;
    vertical-align:top;
    font-family:"Lato",Arial;
    font-size:14px;
    color: Black;
    line-height: 17px;
}
.table td.controlmed{
    width:200px;
    margin-bottom:5px;
    vertical-align:top;
    font-family:"Lato",Arial;
    font-size:14px;
    color: Black;
    line-height: 17px;
}
.table td input[type=text],input[type=password]{
    float: left;
    border:#6c74ad solid 1px;
    line-height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.table td select{
    float: left;
    border:#6c74ad solid 1px;
    height:32px;
    line-height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.Input_Text_Int{
    width:40px;
    margin-bottom:10px;
    vertical-align:top;
    padding-right:10px;
}
.Input_Text_Short
{
    width:100px;
    margin-bottom:10px;
    vertical-align:top;
    padding-right:10px;
}
.Input_Text_Med
{
    width:175px;
    margin-bottom:10px;
    vertical-align:top;
    padding-right:10px;
}
.Input_Text_Long
{
    width:250px;
    margin-bottom:10px;
    vertical-align:top;
    padding-right:10px;
}
/*End Of Template Field Table*********************************************************/
/*Parent Table************************************************************************/
.tblMain td input[type=text],input[type=password]{
    float: left;
    border:#6c74ad solid 1px;
    height:20px;
    width:140px;
    line-height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.tblMain td textarea{
    float: left;
    border:#6c74ad solid 1px;
    height:20px;
    width:200px;
    line-height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.tblMain td select{
    float: left;
    border:#6c74ad solid 1px;
    height:32px;
    width:200px;
    line-height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.tblMain .tdlabel{
    float: left;
    height:20px;
    width:100px;
    font-family:"Lato",Arial;
    padding:5px;
    color:#000000;
}
.tblMain .tdlitrel{
    float: left;
    height:20px;
    font-family:"Lato",Arial;
    padding:5px;
    color:Gray;
}

/*End Of Parent Table*****************************************************************/


/* Shahbaz Work    *****************************************************************/

.menu-bar {
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 70%;
 
}
.menu-bar li {
  margin: 0px 0px 0px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  z-index:999;
  list-style: none;
}
.menu-bar a {
  font-weight: bold;
  font-family:"Lato",Arial;
  font-size: 14px;
  color:#FFFFFF;
  text-decoration:none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  
}
.menu-bar li:hover a
{
    color:#3C008F;
}
.menu-bar li ul li a {
  margin: 0px;
}

.menu-bar ul li:hover a, .menu-bar li:hover li a {
  background-color:#FFFFFF;
  border: none;
  color: #336699;
}
.menu-bar ul a:hover {
  
  color: #FFFFFF !important;
  background:#336699 !important;
}
.menu-bar li:hover > ul {
  display: block;
  margin-top:-3px;
}
.menu-bar ul {
  
  display: none;
  margin: 0;
  padding: 0;
  width:200px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #336699;
 
}
.menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
.menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#3C008F !important;
  font-size:12px;
}
.btnPost
{
    margin-top:10px;
}